<div class="features-container">
  <div class="feature">
    <img src="assets/images/dog.svg">
    <div class="feature-text">
      <h2>Pet wellness & grooming</h2>
      <p>Amet minim mollit non deserunt ullamco est sit ullamco est sit</p>
    </div>
  </div>

  <div class="feature">
    <img src="assets/images/bone.svg">
    <div class="feature-text">
      <h2>Pet wellness & grooming</h2>
      <p>Amet minim mollit non deserunt ullamco est sit ullamco est sit</p>
    </div>
  </div>

  <div class="feature">
    <img src="assets/images/bowl.svg">
    <div class="feature-text">
      <h2>Pet wellness & grooming</h2>
      <p>Amet minim mollit non deserunt ullamco est sit ullamco est sit</p>
    </div>
  </div>
</div>
