<div class="content-container">
  <div class="left-content">
    <h1>We take care of your pets with experts</h1>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

    <div>
      <button>Contact Us</button>
      <span>Free Consultation</span>
    </div>

    <div class="pet-image-container">
      <img class="pet-image" src="assets/images/cat.png">
      <img class="pet-image" src="assets/images/dog.png">
      <img class="pet-image" src="assets/images/bunny.png">
    </div>
  </div>


  <div class="right-content">
    <img src="assets/images/kitty.png">
  </div>

</div>


